<div class="container-md announce-content">
    <div class="d-flex flex-column">
        <div>
            <h5>Sample University Scholarship</h5>
            <p>we’re looking for scholar student
                to so a search about distribute
                algorithm.</p>
        </div>
        <div class="scholar">
            <p> 50,000 Baht per terms </p>
        </div>
        <div style="text-align: center;">
            <button class="btn">see more ...</button>
        </div>
    </div>
</div>
