<div class="row">
  <div class="col-md-3 profile">
    <img src="./assets/images/user-profile-samples/profile-1.png" />
  </div>
  <div class="col-md-9 background">
    <img src="./assets/images/profile-page/profile-background.png" />
  </div>
</div>
<div class="row">
  <div class="col-md-3 mt-3 username">
    <h3>Sample Username</h3>
    <p>@sample5486</p>
  </div>
  <div class="col-md-2 offset-md-7 mt-4 icon">
    <img src="./assets/images/profile-page/facebook.png" />
    <img src="./assets/images/profile-page/mail.png" />
    <img src="./assets/images/profile-page/linkedin.png" />
  </div>
</div>
