<div class="row">
  <div class="col-md-3 profile">
    <img src="./assets/images/user-profile-samples/profile-1.png" />
  </div>
  <div class="col-md-9 background">
    <img src="./assets/images/profile-page/profile-background.png" />
  </div>
</div>
<div class="row">
  <div class="col-md-3 mt-3 username">
    <h3>{{ userData?.firstname }}&nbsp;{{ userData?.lastname }}</h3>
    <p>@{{ userData?.username }}</p>
  </div>
  <div class="col-md-8 mt-4 edit">
    <button
      class="btn btn-outline-secondary btn-sm"
      [routerLink]="['/edit-profile']"
    >
      edit profile
    </button>
  </div>
  <div class="col-auto mt-4 ms-auto">
    <a [href]="'mailto:' + (userData?.mail || '')">
      <button class="btn btn-danger">
        <i class="fa-regular fa-envelope"></i>
      </button>
    </a>
  </div>
</div>
