<div class="container-lg idea-content">
    <div class="container-md management">
        <div class="row tools">
            <div class="col-sm-8 order-2 order-sm-1 d-flex left">
                <button class="btn">
                    <i class="fa-regular fa-lightbulb fa-xl" style="color: #ff4155;"></i>
                    <span>Idea offers</span>
                </button>
                <button class="btn">
                    <i class="fa-solid fa-map-pin fa-xl" style="color: #ff4155;"></i>
                    <span>Pin</span>
                </button>
            </div>
            <div class="col-sm-4 order-1 order-sm-2 d-flex right">
                <button class="btn">
                    <i class="fa-solid fa-heart fa-xl" style="color: #ff4155;"></i>
                </button>
                <button class="btn">
                    <i class="fa-solid fa-share-nodes fa-xl" style="color: #ff4155;"></i>
                </button>
            </div>
        </div>
    </div>

    <div *ngFor="let idea of renderIdeas()">
        <div class="d-flex flex-column idea-list">
            <div>
                <h5>{{idea.ideaHeader}}</h5>
                <p>{{idea.key}} ...</p>
            </div>
            <div class="profile-participant">
                <button class="btn" *ngFor="let participant of idea.participants"></button>
            </div>
            <div class="row describe">
                <div class="col-lg-6 col-md-4 col-6 px-4">{{idea.participants.length}} participants</div>
                <div class="col-lg-4 col-md-5 col-6 agree-content">
                    <div class="d-flex agreement">
                        <div>
                            <button class="btn" (click)="agreeBtn(idea.idea_id)">
                                <i class="fa-regular fa-thumbs-up fa-xl" style="color: #64a2ff;"></i>
                            </button>
                            <span>{{agreeMap[idea.idea_id]}}</span>
                        </div>
                        <div>
                            <button class="btn" (click)="disagreeBtn(idea.idea_id)">
                                <i class="fa-regular fa-thumbs-down fa-xl" style="color: #ff5a5a;"></i>
                            </button>
                            <span>{{disagreeMap[idea.idea_id]}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm" style="text-align: right;">
                    <button class="btn join">Look</button>
                </div>
            </div>
        </div>
    </div>
</div>