<div *ngIf="isLoading">
    <div class="card feeds-content" aria-hidden="true">
        <div class="card-body">
            <div class="row">
                <div class="col-9 d-flex" style="align-items: center;">
                    <div class="user-loading"></div>
                    <div class="user-text placeholder-glow">
                        <span class="placeholder">asdasdaasdasdad</span>
                    </div>
                </div>
            </div>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
        </div>
      </div>
</div>

<div *ngIf="!isLoading">
    <div class="container-md feeds-content" *ngFor="let problem of problems">
        <div class="container-md d-flex flex-column">
            <div class="row">
                <div class="col-9 d-flex" style="align-items: center;">
                    <div class="user-profile">
                    </div>
                    <div class="user-text">
                        <p style="font-weight: 500;">{{problem.client?.username}}</p>
                        <p style="color: #BCBCBC;">{{ problemTimeAgoMap[problem.problem_id] }}</p>
                    </div>
                </div>
                <div class="col-3" style="text-align: right;" *ngIf="getPage() != 'my_problems'">
                    <span>{{trendRatesMap[problem.problem_id][0]}}</span>
                    <i class="fa-solid fa-arrow-up" style="color: #5af8ac;"
                    *ngIf="trendRatesMap[problem.problem_id][1] == 2"></i>

                    <i class="fa-solid fa-grip-lines" style="color: #ff8d5c;"
                    *ngIf="trendRatesMap[problem.problem_id][1] == 1"></i>
                    
                    <i class="fa-solid fa-arrow-down" style="color: #ec4141;"
                    *ngIf="trendRatesMap[problem.problem_id][1] == 0"></i>
                </div>
                <div class="col-3 d-flex edit" *ngIf="getPage() == 'my_problems'">
                    <div class="truncate">
                        <i class="fa-solid fa-trash-can fa-xl" style="color: var(--bg-nav)"
                        (click)="truncate(problem.problem_id)"></i>
                    </div>
                    <div class="editor">
                        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #ff4155;" 
                        (click)="openEditor(problem.problem_id, problem.topic, problem.description)"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column">
                <h3>{{problem.topic}}</h3>
                <p style="font-weight: 500;">{{problem.ideas?.length || 0}} Ideas offer</p>
            </div>
            <div style="text-align: right;">
                <button class="more" (click)="toggleIdeas(problem)">
                    See more.
                </button>
            </div>
        </div>
        
        <ng-template [ngIf]="problem.idea_visible">
            <app-idea [ideas]="problem.ideas" [problem]="problem"></app-idea>
        </ng-template>
    </div>
</div>