<div class="container feeds-content">
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-9 d-flex" style="align-items: center;">
                <div class="user-profile">
                </div>
                <div class="user-text">
                    <p style="font-weight: 500;">Sample Username</p>
                    <p style="color: #BCBCBC;">10 hour ago.</p>
                </div>
            </div>
            <div class="col-3" style="text-align: right;">
                <span>14.3k</span>
                <i class="fa-solid fa-arrow-up" style="color: #5af8ac;"></i>
            </div>
        </div>
        <div class="d-flex flex-column problem">
            <h3>2023 Facing global warming 2 times!</h3>
            <p style="font-weight: 500;">4 Ideas offer</p>
        </div>
        <div style="text-align: right;">
            <button class="more">
                See more.
            </button>
        </div>
    </div>
    
</div>