<div class="container-lg tools-component">
    <div class="row content">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 order-md-1 order-sm-1 order-1">
            <div class="d-flex flex-center">
                <div>
                    <button class="btn" (click)="setPage('feeds')">
                        <i class="fa-solid fa-boxes-stacked fa-xl" style="color: #d2d1cd;" alt="feeds"></i>
                    </button>
                </div>
                <div>
                    <button class="btn" (click)="setPage('my_problems')">
                        <i class="fa-regular fa-note-sticky fa-xl" style="color: #d2d1cd;" alt="my problems"></i>
                    </button>
                </div>
                <div>
                    <button class="btn" (click)="setPage('mark_problems')">
                        <i class="fa-regular fa-bookmark fa-xl" style="color: #ff2566;" alt="mark problems"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 order-md-2 order-sm-3 order-3 search-bar">
            <div class="d-flex flex-row" role="search" id="searchBar">
                <div>
                    <i class="fa-solid fa-magnifying-glass" style="color: #d2d1cd;"></i>
                </div>
                <input class="form" type="search" placeholder="Search ..." (input)="setProblemFilter(searchFilter)" [(ngModel)]="searchFilter">
            </div>
            
            
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 col-6 order-md-3 order-sm-2 order-2">
            <div class="d-flex flex-center right-content">
                <div>
                    <button class="btn">
                        <i class="fa-solid fa-bell fa-xl" style="color: #d2d1cd;"></i>
                    </button>
                </div>
                <div class="dropdown">
                    <button class="btn hover">
                        <i class="fa-solid fa-earth-asia fa-xl" style="color: #2279fc;" *ngIf="category == 'global'"></i>
                        <i class="fa-solid fa-seedling fa-xl" style="color: #32cd75;" *ngIf="category == 'environment'"></i>
                        <i class="fa-solid fa-lightbulb fa-xl" style="color: #ffb029;" *ngIf="category == 'innovation'"></i>
                    </button>
                    <ul class="menu">
                        <li><a class="dropdown-item" (click)="assignCategory('global')">Global</a></li>
                        <li><a class="dropdown-item" (click)="assignCategory('environment')">Environment</a></li>
                        <li><a class="dropdown-item" (click)="assignCategory('innovation')">Innovation</a></li>
                    </ul>
                </div>
                
                <div class="text" *ngIf="category == 'global'">
                    <p style="font-weight: bold;">Global Community</p>
                    <p>Discovery around the world.</p>
                </div>

                <div class="text" *ngIf="category == 'environment'">
                    <p style="font-weight: bold;">Environment Community</p>
                    <p>environment topics</p>
                </div>

                <div class="text" *ngIf="category == 'innovation'">
                    <p style="font-weight: bold;">Innovation Community</p>
                    <p>innovation topics</p>
                </div>
            </div>
        </div>
    </div>
</div>
