<div class="content">
  <div class="container-lg">
    <div class="row">
      <div class="col-md corn-flex">
        <img src="../../../../assets/images/home-page/Home-page3.png" width="350px" height="350px">
      </div>
      <div class="col-md corn-flex text">
        <div>
          <h3>Why us?</h3>
          <p class="m-0" style="text-indent: 45px; text-align: justify;">
            we're the first organization who develop the website act as social media which be a space
            for person who want to post problem, share the idea to solve it or finding a participate to join you team.
            we want to become a biggest community and gateway to promote the emergence of new innovations.
          </p>
        </div>
      </div>

      <div class="container" style="margin-top: 75px;">
        <div class="container corn-flex">
          <div style="width: 70%; text-align: center;">
            <h3>Successful Ideas</h3>
            <p>These is an successful idea by a team which use our services to starting from the first step of create project
              and at last it can useful for solve the problems! </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md p-3 cover">
            <div class="success-box">
              <div class="box-content corn-flex">
                <div>
                  <p>Lorem Ipsum is simply dummy text of the printing and type the industry. Lorem Ipsum has been the industry's ...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md p-3 cover">
            <div class="success-box" [ngStyle]="{'background-image': 'url(\'../../../../assets/images/home-page/sample-idea.jpg\')'}">
              <div class="box-content corn-flex">
                <div>
                  <p>Lorem Ipsum is simply dummy text of the printing and type the industry. Lorem Ipsum has been the industry's ...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md p-3 cover">
            <div class="success-box" [ngStyle]="{'background-image': 'url(\'../../../../assets/images/home-page/robot.png\')'}">
              <div class="box-content corn-flex">
                <div>
                  <p>Lorem Ipsum is simply dummy text of the printing and type the industry. Lorem Ipsum has been the industry's ...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  
</div>

<!-- <div class="content">
  <div class="container-lg">
    <div class="row">
      <div class="col-sm picture">
        <img src="./assets/images/home-page/Home-page3.png" />
      </div>
      <div class="col-sm pt-5">
        <h3>Why us?</h3>
        <p>detail</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 pt-5">
        <h3>Successful ideas</h3>
        <p>detail</p>
        <div class="row successful-container">
          <div class="col-md-4 successful">
            <img src="./assets/images/home-page/agriculture-innovation.jpg" />
            <div class="successful-box">
              <p>
                Lorem Ipsum is simply dummy text of the printing and type the
                industry. Lorem Ipsum has been the industry's ...
              </p>
              <a href="#">see more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
