.content{
    background-color: white;
    border-radius: 30px 0 30px 0;
    padding: 20px 0 20px 0;
}

.picture img{
    width: 400px;
}

.successful-container{
    display: flex;
    justify-content: space-around;
}

.successful{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.successful img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.successful-box{
    width: 280px;
    height: 170px;
    transform: translateY(-60px);
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.successful-box a{
    text-decoration: none;
    color: #009F23;
}

/* --------- */

h3 {
    color: var(--bg-red);
    font-weight: bolder;
    font-size: 32px;
}

.content{
    background-color: white;
    border-radius: 30px 0 30px 0;
    padding: 20px 0 20px 0;
    padding-bottom: 100px;
}

.corn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-box {
    position: relative;
    background-image: url("../../../../assets/images/home-page/agriculture-innovation.jpg");
    background-size: cover;
    border-radius: 15px;

    min-height: 250px;
    width: 100%;

}

.box-content {
    position: relative;
    background-color: white;
    padding: 15px;

    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 15px;

    text-align: center;
}

@media only screen and (max-width: 768px) {
    h3 {
        text-align: center;
    }

    .text {
        padding: 15px 20px;
    }
}