<div class="content">
  <div class="container-lg">
    <div class="row">
      <div class="col-sm picture">
        <img src="./assets/images/home-page/Home-page3.png" />
      </div>
      <div class="col-sm pt-5">
        <h3>Why us?</h3>
        <p>detail</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 pt-5">
        <h3>Successful ideas</h3>
        <p>detail</p>
        <div class="row successful-container">
          <div class="col-md-4 successful">
            <img src="./assets/images/home-page/agriculture-innovation.jpg" />
            <div class="successful-box">
              <p>
                Lorem Ipsum is simply dummy text of the printing and type the
                industry. Lorem Ipsum has been the industry's ...
              </p>
              <a href="#">see more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
