<div class="container-md profile-content">
    <div *ngIf="userData">
        <div class="profile">
        </div>
    
        <div class="d-flex flex-column">
            <div class="profile-background">
            </div>
            <div class="profile-name">
                <p style="font-weight: bold;">{{userData.username}}</p>
                <p>@demo00{{userData.client_id}}</p>
            </div>
            <div class="setting">
                <button class="btn" (click)="profilePage()">Your Profile</button>
            </div>
        </div>  
    </div>
</div>