p {
    margin: 0;
    text-align: center;
}

button {
    margin-bottom: 40px;
    width: 150px;

    color: var(--bg-red);
    border-radius: 8px;
    border: 2px solid var(--bg-red);

    transition: 0.3s;
}

button:hover {
    background-color: var(--bg-red);
    color: white;

    transition: 0.3s;
}

.profile-content {
    position: relative;
    margin: 15px 0;
    padding: 0;

    border-radius: 15px;
    background-color: white;
}

.profile-background {
    height: 200px;

    background-image: url('../../../../../assets/images/general-profile-background/general-p1.png');
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.profile-name {
    margin: 75px 0 15px 0;
}

.setting {
    text-align: center;
}

.profile {
    position: absolute;
    width: 100px;
    height: 100px;

    top: 35%;
    left: 33%;
    transform: translate((-50%, -50%));

    background-image: url('../../../../../assets/images/user-profile-samples/profile-1.png');
    background-size: cover;
    border-radius: 15px;
}

@media only screen and (max-width: 1400px) {
    .profile { left: 31%; }
}

@media only screen and (max-width: 1200px) {
    .profile { left: 26%; }
}

@media only screen and (max-width: 910px) {
    .profile { left: 23%; }
}

@media only screen and (max-width: 768px) {
    .profile-content {
        display: none;
    }
}
