<nav class="navbar navbar-expand-md">
    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/icons/icon.png" class="icon">
        </a>
        <div>
            <p class="icon-text">POGATY</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-caret-down fa-sm" style="color: #ffffff;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <button class="btn btn-bg-custom" [routerLink]="['/home']">
                        <i class="fa-solid fa-house fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
                <li class="nav-item mx-2">
                    <button class="btn btn-bg-custom" [routerLink]="['/problem']">
                        <i class="fa-solid fa-comment fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
                <li class="nav-item mx-2">
                    <button class="btn btn-bg-custom" [routerLink]="['/idea-dashboard']">
                        <i class="fa-solid fa-bars-progress fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
                <li class="nav-item mx-2">
                    <button class="btn btn-bg-custom">
                        <i class="fa-solid fa-business-time fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
            </ul>

            <div class="d-flex">
                <div class="px-0">
                    <div *ngIf="!isLogin">
                        <button class="btn user-not" [routerLink]="['/login']">
                            <i class="fa-solid fa-arrow-right-to-bracket fa-sm" style="color: #ffffff;"></i>
                        </button>
                    </div>

                    <div class="dropdown" *ngIf="isLogin">
                        <button class="btn hover" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{getClient()}}" class="user-profile-adjust">
                        </button>
                        <ul class="menu">
                            <li><a class="dropdown-item" [routerLink]="['/profile']">My Profile</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="d-flex px-0">
                    <button class="btn btn-bg-custom">
                        <i class="fa-solid fa-gear fa-sm" style="color: #ffffff;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
