<nav class="navbar navbar-expand-md">
    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/icons/icon.png" class="icon">
        </a>
        <div *ngIf="!onCollab">
            <p class="icon-text">POGATY</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" *ngIf="!onCollab">
            <i class="fa-solid fa-caret-down fa-sm" style="color: #ffffff;"></i>
        </button>
        <div class="" id="navbarNavDropdown" [class]="onCollab ? 'cor-flex' : 'collapse navbar-collapse'">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!onCollab">
                <li class="nav-item mx-2">
                    <button class="btn btn-bg-custom" [routerLink]="['/home']" mat-raised-button matTooltip="Home">
                        <i class="fa-solid fa-house fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
                <li class="nav-item mx-2">
                    <button class="btn btn-bg-custom" [routerLink]="['/problem']" mat-raised-button matTooltip="Problem Feeds">
                        <i class="fa-solid fa-comment fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
                <li class="nav-item mx-2">
                    <button class="btn btn-bg-custom" [routerLink]="['/idea-dashboard']" mat-raised-button matTooltip="Ideas Dashboard">
                        <i class="fa-solid fa-bars-progress fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
                <li class="nav-item mx-2" *ngIf="!isLogin && !onCollab" mat-raised-button matTooltip="Collaborator">
                    <button class="btn btn-bg-custom" [routerLink]="['/login-collaborator']">
                        <i class="fa-solid fa-business-time fa-sm" style="color: #ffffff;"></i>
                    </button>
                </li>
            </ul>

            <div class="d-flex">
                <div class="px-0">
                    <div *ngIf="!isLogin">
                        <button class="btn user-not" [routerLink]="['/login']">
                            <i class="fa-solid fa-arrow-right-to-bracket fa-sm" style="color: #ffffff;"></i>
                        </button>
                    </div>

                    <div class="dropdown" *ngIf="isLogin && !onCollab">
                        <button class="btn hover" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{getClient()}}" class="user-profile-adjust">
                        </button>
                        <ul class="menu">
                            <li><a class="dropdown-item" [routerLink]="['/profile']">My Profile</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>

                    <div *ngIf="isLogin && onCollab">
                        <button class="btn hover" type="button">
                            <img src="../../../assets/images/user-profile-samples/profile-1.png" class="user-profile-adjust">
                        </button>
                    </div>
                    
                </div>
                <div class="d-flex px-0">
                    <button class="btn btn-bg-custom" *ngIf="!onCollab">
                        <i class="fa-solid fa-gear fa-sm" style="color: #ffffff;"></i>
                        
                    </button>
                    <button class="btn btn-bg-custom" *ngIf="onCollab" (click)="logout()">
                        <i class="fa-solid fa-x" style="color: #ffffff;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
