
    <nav class="navbar navbar-expand-lg">
        <div class="container-lg">
          <a class="navbar-brand" href="#">
            <img src="../../../assets/icons/icon.png" class="icon">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mx-2">
                <button class="btn btn-bg-custom">
                    <i class="fa-solid fa-house fa-sm" style="color: #ffffff;"></i>
                </button>
              </li>
              <li class="nav-item mx-2">
                <button class="btn btn-bg-custom">
                    <i class="fa-solid fa-comment fa-sm" style="color: #ffffff;"></i>
                </button>
              </li>
              <li class="nav-item mx-2">
                <button class="btn btn-bg-custom">
                    <i class="fa-solid fa-bars-progress fa-sm" style="color: #ffffff;"></i>
                </button>
              </li>
              <li class="nav-item mx-2">
                <button class="btn btn-bg-custom">
                    <i class="fa-solid fa-business-time fa-sm" style="color: #ffffff;"></i>
                </button>
              </li>
            </ul>

            <div class="row ">
                <div class="col-md px-0">
                    <button class="btn">
                        <img src="../../../assets/images/user-profile-samples/profile-1.png" class="user-profile-adjust">
                    </button>
                </div>
                <div class="col-md d-flex px-0">
                    <button class="btn btn-bg-custom">
                        <i class="fa-solid fa-gear fa-sm" style="color: #ffffff;"></i>
                    </button>
                </div>
            </div>
          </div>
        </div>
      </nav>