.bg-custom {
    background-color: white;
    border-radius: 30px 0 30px 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.content {
    margin: 0 0 15px 0;
    padding: 0;
    border-radius: 15px;
    border: none !important;
    background-color: white;
    justify-content: center;
}
h3,p,h5{
    text-align: center;
}
.col-2{
    margin: 0 4%;
    padding: 10px;
    align-items: center;
    text-align: center;
    border: 2px solid #FF5A5A;
    border-radius: 4%;
    color: #FF5A5A;
}
.topic{
    width: 600px;
    margin: 10px 0;
}
.right{
    border-radius: 5%;
    background-color: #2E2C39;
}
.main-login{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 5rem 0;
    color: #ffffff;
}
.content-icon{
    justify-content: space-evenly;
}
.icon{
    display: inline-block;
}
.text{
    padding: 10px 0;
}
.btn{
    align-self: center;
}
.d-flex {
    height: 100%;
    display: flex!important;
    justify-content: center;
}

