<div class="container-fluid bg-custom">
  <div class="container-lg content row">
    <div class="topic row">
      <div class="col">
        <h3>Get involved with us</h3>
        <p>
          Be a part of a collaborator that offers an tools, assistance and
          solutions to anybody looking to launch a new project or business.
        </p>
      </div>
    </div>
    <div class="content-icon">
      <div class="row">
        <div class="col-2">
          <h5>Service management</h5>
          <div class="icon">
            <img
              src="../../../assets//icons/responsibility.png"
              width="70px"
              height="70px"
            />
          </div>
          <p>
            Add your services, and we'll match them up with interested
            customers.
          </p>
        </div>
        <div class="col-2">
          <h5>Campaign</h5>
          <div class="icon">
            <img
              src="../../../assets//icons/advertising.png"
              width="70px"
              height="70px"
            />
          </div>
          <p>
            Create your campaign around a problem so that participants will be
            motivated to fix it.
          </p>
        </div>
        <div class="col-2">
          <h5>Growth</h5>
          <div class="icon">
            <img
              src="../../../assets/icons/graph.png"
              width="70px"
              height="70px"
            />
          </div>
          <p>
            Increase your company's growth by interacting with the right
            clients.
          </p>
        </div>
        <div class="col-2">
          <h5>Page</h5>
          <div class="icon">
            <img
              src="../../../assets/icons/page.png"
              width="70px"
              height="70px"
            />
          </div>
          <p>
            Show your brief details of your business to attracted to client.
          </p>
        </div>
      </div>
    </div>

    <div class="main-login">
      <div class="row">
        <div class="col-8">
          <div class="d-flex flex-column">
            <div class="picture">
              <img
                src="../../../assets/images/collaborators/123png.png"
                width="100%"
                height="500px"
                style="object-fit: cover"
              />
            </div>
          </div>
        </div>
        <div class="col-4 right">
          <div class="d-flex flex-column">
            <div class="text">
              <h2>Connect Your Business</h2>
              <p style="font-size: 1.25rem">
                authorize your business account and manage or configuration your
                functions.
              </p>
            </div>
            <div class="form d-flex flex-column">
              <h6 style="font-size: 1.25rem">Account email</h6>
              <input
                id="email"
                type="text"
                placeholder="Email Address."
                #email
              />
              <h6 style="margin-top: 6px; font-size: 1.25rem">Password</h6>
              <input
                id="password"
                type="password"
                placeholder="Password."
                #password
              />
              <button
                class="btn"
                type="submit"
                (click)="authorization(email.value, password.value)"
                style="
                  background-color: #cf0a0a;
                  color: #ffffff;
                  margin-top: 20px;
                  width: 80%;
                "
              >
                Goto Space
              </button>
            </div>
            <p style="font-size: 1rem">
              If you’re new to our collab space you must sign up first
            </p>
            <button
              class="btn sign"
              (click)="openCreateAccountPopup()"
              style="
                background-color: #ffffff;
                color: #cf0a0a;
                width: 80%;
                margin-bottom: 20px;
              "
            >
              Create Account
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <h3>We' re act as gateway</h3>
        <p>
          To help increasing the success of your business and encourage more
          individuals to utilize your services. We'll act as a conduit to
          introduce your company to the appropriate client.
        </p>
      </div>
      <div class="col-3">
        <div class="picture2">
          <img
            src="../../../assets/images/collaborators/5463072_Resume.jpg"
            width="100%"
            height="100%"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<h1>-------------------------</h1>
<div class="content">
  <div class="container-lg">
    <div class="row top-content text-center mt-5">
      <div class="col text center">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <h2>Get involved with us</h2>
            <p>
              Be a part of a collaborator that offers an tools, assistance and
              solutions to anybody looking to launch a new project or business.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="row collab-box-container my-2">
              <div class="col-md-3 collab-box">
                <div class="row"><h5>Service management</h5></div>
                <div class="row icon my-3">
                  <img src="assets/icons/responsibility.png" />
                </div>
                <div class="row">
                  <p>
                    Add your services, and we'll match them up with interested
                    customers.
                  </p>
                </div>
              </div>
              <div class="col-md-3 collab-box">
                <div class="row"><h5>Campaign</h5></div>
                <div class="row icon my-3">
                  <img src="assets/icons/responsibility.png" />
                </div>
                <div class="row">
                  <p>
                    Create your campaign around a problem so that participants
                    will be motivated to fix it.
                  </p>
                </div>
              </div>
              <div class="col-md-3 collab-box">
                <div class="row"><h5>Growtht</h5></div>
                <div class="row icon my-3">
                  <img src="assets/icons/responsibility.png" />
                </div>
                <div class="row">
                  <p>
                    Increase your company's growth by interacting with the right
                    clients.
                  </p>
                </div>
              </div>
              <div class="col-md-3 collab-box">
                <div class="row"><h5>Page</h5></div>
                <div class="row icon my-3">
                  <img src="assets/icons/responsibility.png" />
                </div>
                <div class="row">
                  <p>
                    Show your brief details of your business to attracted to
                    client.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row login"></div>
    <div class="row buttom-content"></div>
  </div>
</div>
