<div class="content">
  <div class="box1">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm pt-5">
          <h2>
            PROJECT GATEWAY <br />
            AND COMMUNITY
          </h2>
          <p>
            Start your fresh creative idea, find your right teammate and
            accomplish your objective with our guildline!
          </p>
          <button>Find your path</button>
        </div>
        <div class="col-sm picture1">
          <img src="./assets/images/home-page/Home-page1.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="box2">
    <div class="container-lg">
      <div class="row py-3">
        <div class="col-sm">
          <h3>1</h3>
          detail
        </div>
        <div class="col-sm">
          <h3>2</h3>
          detail
        </div>
        <div class="col-sm">
          <h3>3</h3>
          detail
        </div>
      </div>
    </div>
  </div>
  <div class="box1">
    <div class="container-lg">
      <div class="row pt-5">
        <div class="col-sm">
          <img src="./assets/images/home-page/Home-page2.png" />
        </div>
        <div class="col-sm pt-5">
          <h3>What do we do?</h3>
          <p>detail</p>
        </div>
      </div>
    </div>
  </div>
</div>
