<div class="content p-0">
  <div class="water-marker">
    <img class="marker-outside" src="../../../../assets/images/home-page/bg-pink.png">
    <div class="position-absolute board">
      <div class="container-lg header">
        <div class="row h-100">
          <div class="col-md-6 corn-flex">
            <div class=" head-content">
              <h1>PROJECT GATEWAY<br>AND COMMUNITY</h1>
              <h5 class="py-2">
                Start your fresh creative idea, find your right teammate and
                accomplish your objective with our guildline!
              </h5>
            </div>
          </div>
          <div class="col-md-6 corn-flex">
            <img style="max-width: 100%; height: auto"src="../../../../assets/images/home-page/Home-page1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content2">
  <div class="container-lg">
    <div class="row">
      <div class="col-sm-4 p-3 corn-flex">
        <div class="btom">
          <h4>Dicover Problems</h4>
          <p>beginning with someone who is facing a problem or someone who is curious to learn more about these.</p>
        </div>
      </div>
      <div class="col-sm-4 p-3 corn-flex">
        <div class="btom">
          <h4>Share Ideas</h4>
          <p>If you have a solution to the issue, you may respond by sharing it with those who are interested.</p>
        </div>
      </div>
      <div class="col-sm-4 p-3 corn-flex">
        <div class="btom">
          <h4 style="text-align: left;">Team up!</h4>
          <p>Find and recruit a partner to help with planning and brainstorming before beginning a project.</p>
        </div>
      </div> 
    </div>
  </div>
</div>

<div class="content3 p-0">
  <div class="water-marker left">
    <img class="marker-outside" src="../../../../assets/images/home-page/bg-pink.png" style="transform: scaleX(-1)">
    <div class="position-absolute board">
      <div class="container-lg header">
        <div class="row h-100">

          <div class="col-md-6 corn-flex order-md-1">
            <img style="max-width: 100%; height: auto"src="../../../../assets/images/home-page/Home-page2.png">
          </div>

          <div class="col-md-6 corn-flex order-md-2">
            <div class=" head-content">
              <h1>What do we do?</h1>
              <p class="py-2 px-4" style="text-indent: 45px; text-align: justify;">
                We're a group of person who have ever stuck in finding a problem to creating a new idea, 
                and we've found that is a hard part not for us but for a lot of people who want to starting 
                a new project. because we don't know which the problem is proper for us to solve them, and 
                we don't know the problem from around the world. that why we're here to create a platform's 
                which anybody can find a lot of problems around the world facing from then to now.
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="content">
  <div class="box1">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6 pt-5">
          <h2>
            PROJECT GATEWAY <br />
            AND COMMUNITY
          </h2>
          <p class="py-4">
            Start your fresh creative idea, find your right teammate and
            accomplish your objective with our guildline!
          </p>
          <button>Find your path</button>
        </div>
        <div class="col-md-6 picture1">
          <img src="./assets/images/home-page/Home-page1.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="box2">
    <div class="container-lg">
      <div class="row py-5">
        <div class="col-md-4">
          <h3>Dicover Problems</h3>
          beginning with someone who is facing a problem or someone who is
          curious to learn more about these.
        </div>
        <div class="col-md-4">
          <h3>Share Ideas</h3>
          If you have a solution to the issue, you may respond by sharing it
          with those who are interested.
        </div>
        <div class="col-md-4">
          <h3>Team up!</h3>
          Find and recruit a partner to help with planning and brainstorming
          before beginning a project.
        </div>
      </div>
    </div>
  </div>
  <div class="box1">
    <div class="container-lg">
      <div class="row pt-5">
        <div class="col-md-6">
          <img src="./assets/images/home-page/Home-page2.png" />
        </div>
        <div class="col-md-6 pt-5">
          <h3>What do we do?</h3>
          <p>
            To produce fresh innovations, we serve as a gateway connecting
            issues, ideas, and innovators.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->