<div class="content">
  <div class="box1">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6 pt-5">
          <h2>
            PROJECT GATEWAY <br />
            AND COMMUNITY
          </h2>
          <p class="py-4">
            Start your fresh creative idea, find your right teammate and
            accomplish your objective with our guildline!
          </p>
          <button>Find your path</button>
        </div>
        <div class="col-md-6 picture1">
          <img src="./assets/images/home-page/Home-page1.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="box2">
    <div class="container-lg">
      <div class="row py-5">
        <div class="col-md-4">
          <h3>Dicover Problems</h3>
          beginning with someone who is facing a problem or someone who is
          curious to learn more about these.
        </div>
        <div class="col-md-4">
          <h3>Share Ideas</h3>
          If you have a solution to the issue, you may respond by sharing it
          with those who are interested.
        </div>
        <div class="col-md-4">
          <h3>Team up!</h3>
          Find and recruit a partner to help with planning and brainstorming
          before beginning a project.
        </div>
      </div>
    </div>
  </div>
  <div class="box1">
    <div class="container-lg">
      <div class="row pt-5">
        <div class="col-md-6">
          <img src="./assets/images/home-page/Home-page2.png" />
        </div>
        <div class="col-md-6 pt-5">
          <h3>What do we do?</h3>
          <p>
            To produce fresh innovations, we serve as a gateway connecting
            issues, ideas, and innovators.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
