<div class="container-lg my-5">
  <div class="row">
    <div class="col-md-7">
      <h3>
        Helping from collaborator <br />Who provide the tools and services.
      </h3>
      <p>This helper it will make your work flows and hit the target.</p>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6 mb-3 button-container">
          <button class="btn btn-primary btn-lg">A</button>
          <button class="btn btn-info btn-lg">B</button>
          <button class="btn btn-warning btn-lg">C</button>
          <button class="btn btn-secondary btn-lg">D</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-3 button-container">
          <button class="btn btn-info btn-lg">E</button>
          <button class="btn btn-light btn-lg">F</button>
          <button class="btn btn-light btn-lg">G</button>
          <button class="btn btn-danger btn-lg">H</button>
        </div>
      </div>
    </div>
  </div>
</div>
