<div class="container-lg mt-5 mb-4">
  <div class="row">
    <div class="col-md-7">
      <h3>
        Helping from collaborator <br />Who provide the tools and services.
      </h3>
      <p>This helper it will make your work flows and hit the target.</p>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-8 mb-3 button-container">
          <button class="btn btn-primary">A</button>
          <button class="btn btn-info">B</button>
          <button class="btn btn-warning">C</button>
          <button class="btn btn-secondary">D</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-2 button-container">
          <button class="btn btn-info">E</button>
          <button class="btn btn-light">F</button>
          <button class="btn btn-light">G</button>
          <button class="btn btn-danger">H</button>
        </div>
      </div>
    </div>
  </div>
</div>
