<div class="content">
  <div class="container-lg ">
    <div class="row">
      <div class="col-md corn-flex">
        <div class="text">
          <h3 class="m-0">Helping from collaborator<br>Who provide the tools and services.</h3>
          <p class="m-0" style="color: var(--bg-red)">This helper it will make your work flows and hit the target.</p>
        </div>
      </div>
      <div class="col-lg container p-4 collab">
          <div class="row">
            <div class="co-12 px-custom">
              <div class="d-flex box-e">
                <div class="box corn-flex" style="background-color: #1E85FF;">
                  <p>A</p>
                </div>
                <div class="box corn-flex" style="background-color: #5584FF;">
                  <p>B</p>
                </div>
                <div class="box corn-flex" style="background-color: #FFD058;">
                  <p style="color: black">C</p>
                </div>
                <div class="box corn-flex" style="background-color: #000000;">
                  <p>D</p>
                </div>
                <div class="box corn-flex" style="background-color: #1E85FF;">
                  <p>E</p>
                </div>
              </div>
            </div>
            <div class="col-12 px-custom">
              <div class="d-flex right box-e">
                <div class="box corn-flex" style="background-color: #5584FF;">
                  <p>F</p>
                </div>
                <div class="box corn-flex" style="background-color: #FFFFFF;">
                  <p style="color: black">G</p>
                </div>
                <div class="box corn-flex" style="background-color: #FFFFFF;">
                  <p style="color: black">H</p>
                </div>
                <div class="box corn-flex" style="background-color: #FF5656;">
                  <p>I</p>
                </div>
                <div class="box corn-flex" style="background-color: #FFD058;">
                  <p>J</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>  
  </div>
</div>







<!-- <div class="container-lg my-5">
  <div class="row">
    <div class="col-md-7">
      <h3>
        Helping from collaborator <br />Who provide the tools and services.
      </h3>
      <p>This helper it will make your work flows and hit the target.</p>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6 mb-3 button-container">
          <button class="btn btn-primary btn-lg">A</button>
          <button class="btn btn-info btn-lg">B</button>
          <button class="btn btn-warning btn-lg">C</button>
          <button class="btn btn-secondary btn-lg">D</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-3 button-container">
          <button class="btn btn-info btn-lg">E</button>
          <button class="btn btn-light btn-lg">F</button>
          <button class="btn btn-light btn-lg">G</button>
          <button class="btn btn-danger btn-lg">H</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
