<div class="container-fluid side-content">
    <div class="container d-flex flex-column">
        <div class="function-box row">
            <div class="col-2 iconf">
                <i class="fa-solid fa-shield-halved" style="color: #5c8dff;"></i>
            </div>
            <div class="col-10 on-text">
                <p style="font-weight: bolder">Privacy</p>
                <p>now your idea on public.</p>
            </div>
        </div>
        <div class="function-box row">
            <div class="col-2 iconf">
                <i class="fa-regular fa-address-book" style="color: #fa4155;"></i>
            </div>
            <div class="col-10 on-text">
                <p style="font-weight: bolder">Team</p>
                <p>manage your teammate.</p>
            </div>
        </div>
        <div class="function-box row">
            <div class="col-2 iconf">
                <i class="fa-solid fa-pen-to-square" style="color: #fa4155;"></i>
            </div>
            <div class="col-10 on-text">
                <p style="font-weight: bolder">Edit</p>
                <p>Change some idea details.</p>
            </div>
        </div>
        <div class="function-box row">
            <div class="col-2 iconf">
                <i class="fa-solid fa-trash-can" style="color: #fa4155;"></i>
            </div>
            <div class="col-10 on-text">
                <p style="font-weight: bolder">Truncate</p>
                <p>delete this idea</p>
            </div>
        </div>

        <div class="content-creator row">
            <div class="col-12 head">
                <p>Create     12-03-2024</p>
                <p>By         Samples</p>
            </div>
            <div class="col-12 container agree">
                <div class="row">
                    <div class="col p-1 d-flex flex-con">
                        <div>
                            <i class="fa-regular fa-thumbs-up fa-xl" style="color: #64a2ff;"></i>
                            <span style="margin-left: 10px;">10</span>
                        </div>
                    </div>
                    <div class="col p-1 d-flex flex-con">
                        <div>
                            <i class="fa-regular fa-thumbs-down fa-xl" style="color: #ff5a5a;"></i>
                        <span style="margin-left: 10px;">4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>