h5{
    color: #CF0A0A;
}

.content{
    border-radius: 15px;
    background-color: white;
}

.project{
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 15px;
    max-height: 110px;
  overflow: hidden; 
}

.project p {
    margin: 0;
  }

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-image: linear-gradient(to bottom right, #CF0A0A, #FF7C1D);
    width: 120px;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px;
}