<div class="container-lg mt-3">
  <h5>Exhibition</h5>
  <div class="content p-3">
    <div class="row p-3 justify-content-md-center" *ngFor="let idea of ideas">
      <div class="col-md-11 p-4 mb-2 project">
        <div class="row">
          <div class="col-md-9">
            <b>{{ idea.ideaHeader }}</b>
            <p>{{ sliceKey(idea.key || "") }}...</p>
          </div>
          <div class="col-md-3 button-container">
            <button (click)="ideaPage(idea)">more detail</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
