<div class="popup" *ngIf="isProblemOpen" (click)="closePopup($event)">
    <div class="container-sm content">
        
        <div class="container">
            <button class="btn exist" (click)="closePopup($event)">
                <i class="fa-solid fa-square-xmark" style="color: #FF4155;"></i>
            </button>
        </div>
        
        <div class="inform">
            <input type="text" placeholder="the topic of your problem." value="{{contentProblem}}" #header>
            <textarea class="description form-control" type="text" placeholder="here is some of your description of your problem ..." value="{{descriptionProblem}}" #description></textarea>
            <div>
                <p *ngIf="errorlog" style="text-align: center; color: var(--bg-red);">{{errorlog}}</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 container">
                        <div class="d-flex flex-wrap">
                            <button class="btn" [ngClass]="{'active': category === 'global'}">
                                <i class="fa-solid fa-earth-asia fa-xl" style="color: #2279fc;" (click)="setCategory('global')"> Global</i>
                            </button>
    
                            <button class="btn" [ngClass]="{'active': category === 'environment'}">
                                <i class="fa-solid fa-seedling fa-xl" style="color: #32cd75;" (click)="setCategory('environment')"> Environment</i>
                            </button>
    
                            <button class="btn" [ngClass]="{'active': category === 'innovation'}">
                                <i class="fa-solid fa-lightbulb fa-xl" style="color: #ffb029;" (click)="setCategory('innovation')"> Innovation</i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-custom" 
                            (click)="createPost(header.value, description.value)"
                        >Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" *ngIf="isIdeaOpen" (click)="closePopup($event)">
    <div class="container-sm content">

        <div class="container">
            <button class="btn exist" (click)="closePopup($event)">
                <i class="fa-solid fa-square-xmark" style="color: #FF4155;"></i>
            </button>
        </div>

        <div class="inform">
            <input type="text" placeholder="the header of idea ..." value="" #idea>
            <textarea class="key" type="text" placeholder="key word of your idea to tell other what the thing you want to do ..." value="" #key></textarea>
            <div class="container">
                <div class="row">
                    <div>
                        <p *ngIf="errorlog" style="text-align: center; color: var(--bg-red);">{{errorlog}}</p>
                    </div>
                    <div class="col-lg">
                        <div class="form-check form-switch d-flex">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="isPrivate">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Do you want to private idea?</label>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="d-flex idea-create">
                            <button class="btn" (click)="createIdea(idea.value, key.value, isPrivate)">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="popup" *ngIf="isProfileOpen" (click)="closePopup($event)">
    <div class="container-sm content">
        <div class="d-flex flex-column flex-adjust">
            <div class="profile-background d-flex">
                <div class="profile"></div>
                <div class="corn-flex">
                    <div class="profile-header">
                        <p style="font-weight: bolder">{{client?.username}}</p>
                        <p>@demo00{{client?.client_id}}</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-content">
                        <p>Category</p>
                        <div class="col-box category">
                            Here is a category content.
                        </div>
                    </div>
                    <div class="col-md-7 col-content">
                        <p>Description</p>
                        <div class="col-box">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries
                        </div>
                    </div>
                </div>
            </div>

            <div class="container ex">
                <p class="top">Exhibitions</p>  
                <div class="d-flex flex-column exhi">
                    <div class="row p-1" *ngFor="let idea of ideas">
                        <div class="col-10">
                            <p class="m-0" style="font-weight: bold;">{{idea.ideaHeader}}</p>
                            <p class="m-0">{{sliceKey(idea.key || '')}}...</p>
                        </div>
                        <div class="col-2 corn-flex">
                            <button class="btn more" (click)="ideaPage(idea)">more details</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container corn-flex">
                <button class="btn close" (click)="closePopup($event)">Close</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>