i {
    font-size: 15px;
}
h5 {
    text-align: center;
}

button:focus {
    outline: none !important;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.content {
    background-color: white;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    min-width: 400px;
    width: 70%;
    height: fit-content;

    padding: 15px;
    border-radius: 15px;
}

.inform input, .inform textarea {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 15px;

    border: 1px solid var(--bg-white-sub);
}

.description {
    resize: none;
    height: 150px;
}

.key {
    resize: none;
    height: 250px;
}

.btn {
    margin: auto 5px;
}

.flex-adjust {
    padding: 20px;
}

.flex-adjust div {
    margin-bottom: 5px;
}

.btn-custom {
    margin: 0;
    border: 2px solid var(--bg-red);
    color: var(--bg-red);
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.btn-custom:hover {
    color: white;
    background-color: var(--bg-red);
    transition: 0.3s;
}

.exist {
    float: right;
    text-align: right;
    
    border: 2px solid transparent;
    transition: 0.3s;
}

.exist:hover {
    border: 2px solid var(--bg-red);
    transition: 0.3s;
}

.header {
    position: relative;
}

.active {
    background-color: var(--bg-red);
    border: transparent;
}

.active i {
    color: white !important;
}
.form-check-input {
    width: 50px !important;
    margin-right: 15px !important;
}

.form-check, .form-switch {
    padding: 0 !important;
}

.form-check {
    justify-content: center;
    align-items: center;
}

.idea-create {
    justify-content: right;
}

.idea-create button {
    width: 100px;
    border: 2px solid var(--bg-red);
    color: var(--bg-red);
    transition: .3s;
}

.idea-create button:hover {
    transition: .3s;
    background-color: var(--bg-red);
    color: white;
    border: 2px solid transparent;
}

.profile-background {
    position: relative;
    height: 100px;  
    background-image: url('../../../assets/images/general-profile-background/general-p1.png');
    border-radius: 15px;
}

.profile {
    background-image: url('../../../assets/images/user-profile-samples/profile-1.png');
    background-size: cover;
    border-radius: 15px;
    width: 100px;
    height: 100%;
}

.profile-header {
    padding: 10px 50px 10px 20px;
    width: fit-content;
    height: fit-content;
    background-color: var(--bg-nav);
    border-radius: 0 15px 15px 0;
    color: white;

    justify-content: center;
    align-items: center;
}

.corn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-content, .top {
    font-weight: bold;
    color: #FA4155;
}

.col-box {
    overflow: scroll;
    padding: 15px;
    max-height: 160px;
    background-color: #F2F2F2;
    color: black;
    font-weight: 400;
    border-radius: 15px;
}

.exhi {
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 15px;
    overflow: scroll;
    height: 165px;
}

.more {
    background-color: white;
    color: #FA4155;
    border: 2px solid #FA4155 !important;
    transition: 0.3s;
}

.close {
    width: 175px;
    background-color: #FA4155;
    color: white;
}

.more:hover {
    background-color: #FA4155;
    color: white;
    transition: 0.3s;
}

.exhi div {
    margin: 5px 0;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.profile-header p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .btn-custom {
        margin-top: 10px;
    }

    .ex {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .idea-create {
        justify-content: center;
        align-items: center;
    }
}

/* div {
    border: 2px solid red;
} */