<div class="container-lg">
  <div class="row text-content">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h3>POGATY</h3>
      <p>
        Empowering Innovators, Connecting Minds: Unleash your creativity with
        us. We're the pioneers of a revolutionary platform, the world's first
        social media for problem-solving. Join us in shaping the future, where
        ideas converge and solutions emerge. Together, let's build a global
        community dedicated to fostering innovation and overcoming challenges.
        #InnovateWithUs
      </p>
    </div>
  </div>
  <div class="row social-content">
    <div class="col-lg-6 mx-auto social-media d-flex">
      <button class="btn">
        <i class="fa-brands fa-facebook-f fa-lg" style="color: #ffffff"></i>
      </button>
      <button class="btn">
        <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff"></i>
      </button>
      <button class="btn">
        <i class="fa-brands fa-x-twitter fa-lg" style="color: #ffffff"></i>
      </button>
      <button class="btn">
        <i class="fa-brands fa-linkedin-in fa-lg" style="color: #ffffff"></i>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid copyright">
  <p>© 2023 - Pogaty , inc. - All Rights Reserved</p>
</div>
