<div class="container-lg">
    <div class="row text-content">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h3>POGATY</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries</p>
        </div>
    </div>
    <div class="row social-content">
        <div class="col-lg-6 mx-auto social-media d-flex">
            <button class="btn">
                <i class="fa-brands fa-facebook-f fa-lg" style="color: #ffffff;"></i>
            </button>
            <button class="btn">
                <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i>
            </button>
            <button class="btn">
                <i class="fa-brands fa-x-twitter fa-lg" style="color: #ffffff;"></i>
            </button>
            <button class="btn">
                <i class="fa-brands fa-linkedin-in fa-lg" style="color: #ffffff;"></i>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid copyright">
    <p>© 2023 - Pogaty , inc. - All Rights Reserved</p>
</div>