<div class="custom-div">
    <div class="header-content">
        <div class="container-lg">
            <div class="back">
                <button class="btn">
                    <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                    <span>Back</span>
                </button>
            </div>
            <div class="header">
                <h1>Biometric Payments in future state up comming</h1>
            </div>
            <div class="key-content d-flex flex-column">
                <div class="icon">
                    <i class="fa-solid fa-circle-info fa-xl" style="color: #64a2ff;"></i>
                    <span>Idea key</span>
                </div>
                <div class="key-detail d-flex">
                    <div class="stick"></div>
                    <div class="key-area">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="normal-content">
        <div class="container-lg p-0">
            <div class="parti">
                <h3>Participants</h3>
                <div class="d-flex">
                    <div class="profile-content">
                    </div>
                    <div class="profile-content">
                    </div>
                    <div class="profile-content">
                    </div>
                    <div class="profile-content">
                    </div>
                </div>
            </div>
            
            <div class="board">
                <div class="concept-board">
                    <h3>Concept Board</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, 
                        making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more 
                        obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered 
                        the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and 
                        Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line 
                        of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de 
                        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 
                        translation by H. Rackham.</p>
                </div>
            </div>

            <div class="ref" style="padding-top: 20px;">
                <h3>Reference</h3>
                <ul class="wrapper">
                    <li class="slider any-file">
                        <i class="fa-solid fa-file" style="color: #ffffff;"></i>
                        <div class="text">
                            <h4>Sample.docs</h4>
                            <p>This is a sample files to for your understand about this.</p>
                        </div>
                    </li>
                    <li class="slider image">
                        <i class="fa-solid fa-image" style="color: #ffffff;"></i>
                        <div class="text">
                            <h4>Sample.png</h4>
                            <p>This is a sample image to for your understand about this.</p>
                        </div>
                    </li>
                    <li class="slider flex-column">
                        <h4 style="color: #48AC7C; font-weight: 800;">ADD</h4>
                        <p class="m-0 px-5 text-center" style="font-weight: 500;">Click here to add more reference +</p>
                        <p class="m-0 px-5 text-center" style="color: rgb(137, 137, 137);">This will help other understand your idea.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
