<div class="custom-div">
    <div class="header-content">
        <div class="container-lg">
            <div class="back">
                <button class="btn" (click)="problemPage()">
                    <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                    <span>Back</span>
                </button>
            </div>
            <div class="header">
                <h1 *ngIf="!isEditorMode">{{idea?.ideaHeader}}</h1>
                <input 
                    *ngIf="isEditorMode" type="text" 
                    placeholder="the header of idea ..." 
                    value="{{idea?.ideaHeader}}" 
                    (blur)="headerEnter(header.value)"
                #header>
            </div>
            <div class="key-content d-flex flex-column">
                <div class="icon">
                    <i class="fa-solid fa-circle-info fa-xl" style="color: #64a2ff;"></i>
                    <span>Idea key</span>
                </div>
                <div class="key-detail d-flex">
                    <div class="stick"></div>
                    <div class="key-area">
                        <p *ngIf="!isEditorMode">{{idea?.key}}</p>
                        <textarea 
                            *ngIf="isEditorMode"
                            class="key-input"
                            type="text" placeholder="key word of your idea to tell other what the thing you want to do ..." 
                            value="{{idea?.key}}" 
                            (blur)="keyEnter(key.value)"
                        #key></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="normal-content">
        <div class="container-lg p-0">
            <div class="parti">
                <h3>Participants</h3>
                <div class="d-flex">
                    <div *ngFor="let participant of idea?.participants" class="profile-content">
                        <!-- Your content here -->
                      </div>
                </div>
            </div>
            
            <div class="board">
                <div class="concept-board">
                    <h3>Concept Board</h3>
                    <p *ngIf="!isEditorMode">{{idea?.board || "now this idea doesn't have a board content yet."}}</p>
                    <textarea 
                        *ngIf="isEditorMode"
                        class="key-input"
                        type="text" placeholder="key word of your idea to tell other what the thing you want to do ..."
                        value="{{idea?.board}}"
                        (blur)="boardEnter(board.value)"
                    #board></textarea>
                </div>
            </div>

            <div class="ref" style="padding-top: 20px;">
                <h3>Reference</h3>
                <ul class="wrapper">
                    <li class="slider any-file">
                        <i class="fa-solid fa-file" style="color: #ffffff;"></i>
                        <div class="text">
                            <h4>Sample.docs</h4>
                            <p>This is a sample files to for your understand about this.</p>
                        </div>
                    </li>
                    <li class="slider image">
                        <i class="fa-solid fa-image" style="color: #ffffff;"></i>
                        <div class="text">
                            <h4>Sample.png</h4>
                            <p>This is a sample image to for your understand about this.</p>
                        </div>
                    </li>
                    <li class="slider flex-column">
                        <h4 style="color: #48AC7C; font-weight: 800;">ADD</h4>
                        <p class="m-0 px-5 text-center" style="font-weight: 500;">Click here to add more reference +</p>
                        <p class="m-0 px-5 text-center" style="color: rgb(137, 137, 137);">This will help other understand your idea.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
